<!-- Modal -->
<div class="modal fade" id="DetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2>Customer ID : {{ row[0] }}</h2>
          <hr>
          <pre>
            Nama Customer   : {{ row [1] }}
            NIK             : {{ row [2] }}
            Email           : {{ row [3] }}
            Phone           : {{ row [4] }}
            Tipe            : {{ row [5] }}
            Checkin         : {{ row [6] }}
            Checkout        : {{ row [7] }}
            Jumlah Kamar    : {{ row [8] }}
            Keterangan      : {{ row [9] }}
            Status          : {{ row [10] }}
          </pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>